* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom, #326E91, #015A8E);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to right, #0393E5, #2183BB);
    height: 250px;
    border-bottom: 1px solid #345466;
}

h1#titulo_principal {
    text-align: center;
    padding-top: 90px;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a.link_nav {
    text-decoration: none;
    color: black;
    font-size: 23px;
    transition: 0.6s;
}

a.link_nav:hover {
    color: white;
    text-decoration: dotted;

    transition: 0.4s;

}

main {
    margin: 40px auto 40px auto;

    background-color: #345466;
    width: 600px;
    height: 600px;
    border-radius: 20px;

}

img {
    width: 500px;
    height: 400px;
    border-radius: 40px;
    border: 5px solid;
}

div#imagem_golfinho {
    padding-left: 50px;
    padding-top: 40px;
}

p#texto_curiosidade {
    text-indent: 40px;
    font-size: 23px;
    font-family: monospace;
    padding-top: 18px;
    width: 500px;
    padding-left: 20px;

}

li.links_nav {
    display: inline-block;
    padding-top: 40px;
    margin-left: 30px;
    color: white;
}


#avancar {
    text-indent: 100px;
}

a.links {
    color: white;
    text-decoration: none;
    font-size: 33px;
    padding-left: 70px;
    padding-right: 90px;
    transition: 0.6s;

}

a.links:hover {
    transition: 0.6s;

    background-color: wheat;
    color: black;

    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;

}

li.links_direcionais_de_paginas {
    padding-top: 90px;
    margin-left: 80px;
    display: inline-block;
    color: white;
}

footer {
    width: 100%;
    background-color: black;
    height: 200px;
}