@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* Popins */


* {
    padding: 0px;
    margin: 0px;
    font-family: Work Sans, Arial, Helvetica, sans-serif;
}
body {
    background-color: #87A1CA;
}
/* Configurações do Header */
nav.container_nav {
    padding-bottom: 1.5em;

    list-style: none;
    gap: 20px;
    display: flex;

}
li#nome_nav {
    font-size: 1.6em;
    padding-top: 16px;
    padding-left: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > nav > li > span {
    font-size: 14px;
    font-weight: normal;
    font-family: Poppins, Geneva, Tahoma, sans-serif;
}
li.links_navegacao {
    font-size: 1.2em;
    padding-top: 22px;
}
i.fa-github, i.fa-instagram{
    color: black;
    padding-right: 20px;
    font-size: 1.8em;

}
.social {
  display: flex;
  gap: 20px;
}

.social i , a {
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.social a, i:hover {
  color: #ccc;
}
a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: white;
    transition: 0.5s;

}
/* Configurações do Header finalizadas */

/* Configurações da section 1 "Projetos" */

section {

    margin: 152px 30px 30px 30px;
    
    display: flex;
    justify-content: center;


}

article {
    border: 1px solid black;
    width: 1350px;

    padding: 30px;

}
div.projetos {
    padding-bottom: 190px;
}
div.conteudo > h1{
    padding-bottom: 102px;
    font-size: 3em;
}
div.conteudo > h2 {
    padding-bottom: 24px;
}
div.conteudo > p {
    width: 580px;
}
div.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}




@media (max-width: 1368px) {
    div.conteudo > p {
    padding-bottom: 24px;
    
    }
    
}

